.form-container{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 30rem;
    height: 20rem;

    margin:  0 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.form-container form{
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 4rem;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #ff852b;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #ff852b;
}

.button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-button {
  background: #ff852b;
  border: 1px solid #ff852b;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  width: 10rem;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  margin: 1rem;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.login-button:hover,
.login-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff852b;
}

.login-button:active {
  opacity: .5;
}


